inst/doc
.Rproj.user
dontrun/data/test_w2g/
README.html
.DS_Store
dontrun/data/test_w2g/bib/put-new-refs-here.bib
dontrun/data/test_w2g/mapping18.tex
dontrun/data/test_w2g/mybib.bib
dontrun/data/test_w2g/Report.tex
dontrun/~$attan_style_examples.docx
dontrun