inst/doc
.Rproj.user
dontrun/data
dontrun/data/test_w2g/
dontrun/data/test_retirement/
README.html
.DS_Store
dontrun/data/test_w2g/bib/put-new-refs-here.bib
dontrun/data/test_w2g/mapping18.tex
dontrun/data/test_w2g/mybib.bib
dontrun/data/test_w2g/Report.tex
dontrun/~$attan_style_examples.docx
dontrun
.Rproj
README.html
.DS_Store
.Rproj.user/37D4B8DA/rmd-outputs
.Rproj.user/shared/notebooks/5E4D6D18-using-word2grattex/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
dontrun/data/test_w2g/atlas/mycharts.pdf
dontrun/data/test_w2g/doc/checkDocumentation.R
dontrun/data/test_w2g/doc/expected-competencies-tabularx-manual.tex
dontrun/data/test_w2g/doc/figure/Edit-travis-for-release.PNG
dontrun/data/test_w2g/doc/figure/edit-travis.PNG
dontrun/data/test_w2g/doc/figure/github-settings-tab.PNG
dontrun/data/test_w2g/doc/figure/passing.png
dontrun/data/test_w2g/doc/figure/ragged-spacing-bug.png
dontrun/data/test_w2g/doc/lstautodedent.sty
dontrun/~$attan_style_examples.docx